body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
.big{
    width: 600px;
    height: 600px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(126, 4, 4);
    height: 400px;
    width: 400px;
    
}button{
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    background-color: cadetblue;
    
}
 .buttonClicked{
    background-color: darkseagreen;

}

.gridLow{
    display:flex;
    background-color:gray;
    height: 25px;
    width: 25px;
    
}
.gridLow1{
    display:flex;
    background-color:black;
    height: 25px;
    width: 25px;
   
}
.gridMid{
    display:flex;
    background-color:gray;
    height: 12.5px;
    width: 12.5px;
   
}
.gridMid1{
    display:flex;
    background-color:black;
    height: 12.5px;
    width: 12.5px;
   
}
.gridHigh{
    display:flex;
    background-color:gray;
    height: 6.25px;
    width: 6.25px;
    
   
}
.gridHigh1{
    display:flex;
    background-color:black;
    height: 6.25px;
    width: 6.25px;
   
}
.gridWhitelow1{
    display:flex;
    background-color:white;
    height: 25px;
    width: 25px;

}.gridWhiteMid1{
    display:flex;
    background-color:white;
    height: 12.5px;
    width: 12.5px;
   
}
.gridWhiteHigh1{
    display:flex;
    background-color:white;
    height: 6.25px;
    width: 6.25px;
   
}
.clean{
    display:none ;
}